<div class="container">
    {{#each artistsArray}}
    <div class="card">
        <div class="img-container">
            <img src={{images.1.url}} alt="artist-img">
        </div>
        <div class="title-btn-container">
            <h2>{{name}}</h2>
            <a class="btn" href="/albums/{{id}}"> View Albums </a>
        </div>
    </div>
    {{/each}}
</div>