<div class="bg-img">
    <form class="form" action="/artist-search" method="GET">
        <input type="text" name="name" id="name">
        <button class="home-btn" type="submit">Search for an Artist</button>
    </form>
</div>